{% extends "base.html" %}

{% block title %}Municipio{% endblock %}

{% block content %}
<h1 class="text-center mt-5 mb-5 text-primary">MUNICIPIO</h1>
    <div class="container">
        {% if messages %}
            <div class="alert alert-warning mt-3" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}


        <div class="card shadow">
            <div class="card-body">
                <button class="btn btn-primary btn-sm" id="btn-insert" data-bs-toggle="modal" data-bs-target="#modalinsert">Insertar</button>
                <div class="modal fade" id="modalinsert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar Datos</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/municipio" method="post">
                            <label>CÓDIGO DE MUNICIPIO</label>
                            <input type="text" class="form-control mb-3" name="codmun">
                            <label>NOMBRE DE MUNICIPIO</label>
                            <input type="text" class="form-control mb-3" name="nommun">
                            <label>PRESUPUESTO ANUAL</label>
                            <input type="number" class="form-control mb-3" name="preanu">
                            <label>NÚMERO DE VIVIENDAS</label>
                            <input type="number" class="form-control mb-3" name="numviv">
                            <label>CÓDIGO DE REGIÓN</label>
                            <input type="text" class="form-control mb-3" name="regcod">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">INSERTAR</button>
                        </div>
                        </form>
                      </div>
                    </div>
                </div>
                <!--Tabla-->
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">CÓDIGO DE MUNICIPIO</th>
                        <th scope="col">NOMBRE DE MUNICIPIO</th>
                        <th scope="col">PRESUPUESTO ANUAL</th>
                        <th scope="col">NÚMERO DE VIVIENDAS</th>
                        <th scope="col">CÓDIGO DE REGIÓN</th>
                        <th scope="col">ESTADO DE REGISTRO</th>
                        <th scope="col">EDITAR</th>
                        <th scope="col">ELIMINAR</th>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{ d.MunCod }}</td>
                                <td>{{ d.MunNom }}</td>
                                <td>{{ d.MunPreAnu }}</td>
                                <td>{{ d.MunNumViv }}</td>
                                <td>{{ d.RegCod }}</td>
                                <td>{{ d.MunEstReg }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" id="btn-edit{{ d.MunCod }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.MunCod }}">Editar</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ d.MunCod }}" data-muncod="{{ d.MunCod }}" data-munnom="{{ d.MunNom }}">Eliminar</button>
                                </td>
                            </tr>
                            <!-- Edit Modal -->
                            <div class="modal fade" id="modal{{ d.MunCod }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ d.MunCod }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel{{ d.MunCod }}">{{ d.MunNom }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/edit/{{ d.MunCod }}" method="post">
                                                <label>CÓDIGO DE MUNICIPIO</label>
                                                <p>{{ d.MunCod }}</p>
                                                <label>NOMBRE DE MUNICIPIO</label>
                                                <input type="text" class="form-control mb-3" name="nommun" value="{{ d.MunNom }}">
                                                <label>PRESUPUESTO ANUAL</label>
                                                <input type="number" class="form-control mb-3" name="preanu" value="{{ d.MunPreAnu }}">
                                                <label>NÚMERO DE VIVIENDAS</label>
                                                <input type="number" class="form-control mb-3" name="numviv" value="{{ d.MunNumViv }}">
                                                <label>CÓDIGO DE REGIÓN</label>
                                                <input type="text" class="form-control mb-3" name="regcod" value="{{ d.RegCod }}">
                                                <label>ESTADO DE REGISTRO</label>
                                                <p>{{ d.MunEstReg }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="action" value="edit" class="btn btn-primary">Guardar Cambios</button>
                                            <button type="submit" name="action" value="activar" class="btn btn-primary">Activar</button>
                                            <button type="submit" name="action" value="inactivar" class="btn btn-danger">Inactivar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete Modal -->
                            <div class="modal fade" id="deleteModal{{ d.MunCod }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ d.MunCod }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel{{ d.MunCod }}">Confirmar Eliminación</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <p>¿Desea eliminar este registro?</p>
                                                <label>CÓDIGO DE MUNICIPIO</label>
                                                <p id="modalMunCod{{ d.MunCod }}">{{ d.MunCod }}</p>
                                                <label>NOMBRE DE MUNICIPIO</label>
                                                <p id="modalMunNom{{ d.MunCod }}">{{ d.MunNom }}</p>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="/delete/{{ d.MunCod }}" class="btn btn-danger">Aceptar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}