{% extends "base.html" %}

{% block title %}Propietario{% endblock %}

{% block content %}
<h1 class="text-center mt-5 mb-5 text-primary">Propietario</h1>
    <div class="container">
        <!-- Mostrar mensajes de flash -->

          {% if messages %}
            <div class="alert alert-warning mt-3" role="alert">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}


        <div class="card shadow">
            <div class="card-body">
                <button class="btn btn-primary btn-sm" id="btn-insert" data-bs-toggle="modal" data-bs-target="#modalinsert">Insertar</button>
                <div class="modal fade" id="modalinsert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar Datos</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/propietario" method="post">
                            <label>CÓDIGO DE PROPIETARIO</label>
                            <input type="text" class="form-control mb-3" name="pro_cod">
                            <label>PAGO DE TRIBUTOS</label>
                            <input type="text" class="form-control mb-3" name="pro_pag_tri">
                            <label>MONTO INGRESO FAMILIAR</label>
                            <input type="text" class="form-control mb-3" name="pro_mon_ing_fam">
                            <label>CÓDIGO DE PERSONA</label>
                            <input type="text" class="form-control mb-3" name="per_cod">
                            <label>CÓDIGO DE FAMILIA</label>
                            <input type="text" class="form-control mb-3" name="fam_cod">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">INSERTAR</button>
                        </div>
                        </form>
                      </div>
                    </div>
                </div>
                <!--Tabla-->
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">CÓDIGO DE PROPIETARIO</th>
                        <th scope="col">PAGO DE TRIBUTOS</th>
                        <th scope="col">MONTO INGRESO FAMILIAR</th>
                        <th scope="col">CÓDIGO DE PERSONA</th>
                        <th scope="col">CÓDIGO DE FAMILIA</th>
                        <th scope="col">ESTADO DE REGISTRO</th>
                        <th scope="col">EDIT</th>
                        <th scope="col">DELETE</th>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{ d.ProCod }}</td>
                                <td>{{ d.ProPagTri }}</td>
                                <td>{{ d.ProMonIngFam }}</td>
                                <td>{{ d.PerCod }}</td>
                                <td>{{ d.FamCod }}</td>
                                <td>{{ d.ProEstReg }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" id="btn-edit{{ d.ProCod }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.ProCod }}">Edit</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ d.ProCod }}" data-pro_cod="{{ d.ProCod }}">Delete</button>
                                </td>
                            </tr>
                            <!-- Edit Modal -->
                            <div class="modal fade" id="modal{{ d.ProCod }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ d.ProCod }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel{{ d.ProCod }}">Editar Propietario</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/edit/{{ d.ProCod }}" method="post">
                                                <label>CÓDIGO DE PROPIETARIO</label>
                                                <p>{{ d.ProCod }}</p>
                                                <label>PAGO DE TRIBUTOS</label>
                                                <input type="text" class="form-control mb-3" name="pro_pag_tri" value="{{ d.ProPagTri }}">
                                                <label>MONTO INGRESO FAMILIAR</label>
                                                <input type="text" class="form-control mb-3" name="pro_mon_ing_fam" value="{{ d.ProMonIngFam }}">
                                                <label>CÓDIGO DE PERSONA</label>
                                                <input type="text" class="form-control mb-3" name="per_cod" value="{{ d.PerCod }}">
                                                <label>CÓDIGO DE FAMILIA</label>
                                                <input type="text" class="form-control mb-3" name="fam_cod" value="{{ d.FamCod }}">
                                                <label>ESTADO DE REGISTRO</label>
                                                <p>{{ d.ProEstReg }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="action" value="edit" class="btn btn-primary">Guardar Cambios</button>
                                            <button type="submit" name="action" value="activar" class="btn btn-primary">Activar</button>
                                            <button type="submit" name="action" value="inactivar" class="btn btn-danger">Inactivar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete Modal -->
                            <div class="modal fade" id="deleteModal{{ d.ProCod }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ d.ProCod }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel{{ d.ProCod }}">Confirmar Eliminación</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <p>¿Desea eliminar este registro?</p>
                                                <label>CÓDIGO DE PROPIETARIO</label>
                                                <p>{{ d.ProCod }}</p>
                                                <label>PAGO DE TRIBUTOS</label>
                                                <p>{{ d.ProPagTri }}</p>
                                                <label>MONTO INGRESO FAMILIAR</label>
                                                <p>{{ d.ProMonIngFam }}</p>
                                                <label>CÓDIGO DE PERSONA</label>
                                                <p>{{ d.PerCod }}</p>
                                                <label>CÓDIGO DE FAMILIA</label>
                                                <p>{{ d.FamCod }}</p>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="/delete/{{ d.ProCod }}" class="btn btn-danger">Aceptar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts para Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

{% endblock %}