{% extends 'cm/base.html' %}

{% block content %}
<h2>Lista de Casas</h2>
<a href="{% url 'casa_create' %}" class="btn btn-primary mb-2">Crear Nueva Casa</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Código de Vivienda</th>
            <th>Escalera</th>
            <th>Bloque</th>
            <th>Planta</th>
            <th>Número de Puerta</th>
            <th>Metros</th>
            <th>Código de Familia</th>
            <th>Estado de Registro</th>
            <th>¿Está ocupada?</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for casa in casas %}
        <tr>
            <td>{{ casa.CasCod }}</td>
            <td>{{ casa.VivCod }}</td>
            <td>{{ casa.CasEsc }}</td>
            <td>{{ casa.CasCodBlo }}</td>
            <td>{{ casa.CasPla }}</td>
            <td>{{ casa.CasNumPue }}</td>
            <td>{{ casa.CasMet }}</td>
            <td>{{ casa.FamCod }}</td>
            <td>{{ casa.CasEstReg }}</td>
            <td>{{ casa.CasOcu }}</td>
            <td>
                <a href="{% url 'casa_update' casa.CasCod %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'casa_delete' casa.CasCod %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
