{% extends 'cm/base.html' %}

{% block content %}
<style>
    .form-row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 1;
        margin: 10px;
    }

    .col h5 {
        margin-bottom: 10px;
    }

    .col form {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .col form button {
        margin-top: 10px;
    }

    .col form .alert {
        margin-top: 10px;
    }
</style>
<div class="resume-section-content">
    <h1 class="mb-0">
        Consultas Tributarias
    </h1>
    <div class="subheading mb-5">
        En este apartado usted podrá obtener reportes basado en las consultas tributarias de los pagos realizados por vivienda, zona, municipio y región.
    </div>
</div>
<div class="form-row">
    <div class="col">
        <h5>Pagos por Vivienda</h5>
        <form method="post" action="{% url 'consultas_tributarias' %}">
            {% csrf_token %}
            {{ consulta_vivienda_form.as_p }}
            <button type="submit" name="action" value="vivienda_form">PDF</button>
            {% if consulta_vivienda_form.errors %}
            <div class="alert alert-danger">
                {{ consulta_vivienda_form.errors }}
            </div>
            {% endif %}
        </form>
    </div>
    <div class="col">
        <h5>Pagos por Zona</h5>
        <form method="post" action="{% url 'consultas_tributarias' %}">
            {% csrf_token %}
            {{ consulta_zona_form.as_p }}
            <button type="submit" name="action" value="zona_form">PDF</button>
            {% if consulta_zona_form.errors %}
            <div class="alert alert-danger">
                {{ consulta_zona_form.errors }}
            </div>
            {% endif %}
        </form>
    </div>
    <div class="col">
        <h5>Pagos por Municipio</h5>
        <form method="post" action="{% url 'consultas_tributarias' %}">
            {% csrf_token %}
            {{ consulta_municipio_form.as_p }}
            <button type="submit" name="action" value="municipio_form">PDF</button>
            {% if consulta_municipio_form.errors %}
            <div class="alert alert-danger">
                {{ consulta_municipio_form.errors }}
            </div>
            {% endif %}
        </form>
    </div>
    <div class="col">
        <h5>Pagos por Región</h5>
        <form method="post" action="{% url 'consultas_tributarias' %}">
            {% csrf_token %}
            {{ consulta_region_form.as_p }}
            <button type="submit" name="region_form">PDF</button>
            {% if consulta_region_form.instance.region %}
                <a href="{% url 'generar_reporte_region_pdf' consulta_region_form.instance.region.pk %}" class="btn btn-primary mb-2">Descargar PDF</a>
            {% endif %}
            {% if consulta_region_form.errors %}
                <div class="alert alert-danger">
                    {{ consulta_region_form.errors }}
                </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}