{% extends 'cm/base.html' %}

{% block content %}
<h2>Lista de Municipios</h2>
<a href="{% url 'municipio_create' %}" class="btn btn-primary mb-2">Crear Nuevo Municipio</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Presupuesto Anual</th>
            <th>Número de Viviendas</th>
            <th>Región</th>
            <th>Estado de Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for municipio in Municipio %}
        <tr>
            <td>{{ municipio.muncod }}</td>
            <td>{{ municipio.munnom }}</td>
            <td>{{ municipio.munpreanu }}</td>
            <td>{{ municipio.munnumviv }}</td>
            <td>{{ municipio.regcod.regnom }}</td>
            <td>{{ municipio.munestreg }}</td>
            <td>
                <a href="{% url 'municipio_update' municipio.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'municipio_delete' municipio.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
