{% extends 'cm/base.html' %}

{% block content %}
<h2>Lista de regiones</h2>
<a href="{% url 'region_create' %}" class="btn btn-primary mb-2">Crear Nueva Region</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Estado de Registro</th>
        </tr>
    </thead>
    <tbody>
        {% for region in regiones %}
        <tr>
            <td>{{ region.regcod }}</td>
            <td>{{ region.regnom }}</td>
            <td>{{ region.regestreg }}</td>
            <td>
                <a href="{% url 'region_update' region.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'region_delete' region.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}